<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Spring core online tutorial</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdeliver.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="container">
        <h2>Customer details</h2>
        <form class="form-horizontal" th:object="${customer}" th:action="@{/customer}"
              method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{lastName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">E-mail</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{email}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone number</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{phoneNumber}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address One</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{addressLineOne}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address Two</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{addressLineTwo}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{city}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Post Code</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{zipCode}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
        <a th:href="${'/customers'}"/>Back to Customers list</a>
    </div>
</div>

</body>
</html>